<div class="content-component h-screen w-screen z-0">
  <div class="absolute h-screen w-screen bg-black opacity-75 z-10"></div>
  <div class="flex h-screen items-center">
    <div class="z-20 space-y-3 p-3 w-screen">
      <div class="justify-center text-center">
        <img class="w-24 h-24 border-black rounded-full border-4 inline-block" src="assets/images/photo-maitre.png">
        <h6 class="text-white text-3xl mt-2 font-bold">FIN DE LA PARTIE</h6>
      </div>
      <br>
      <div class="bg-orange-500 p-3 grid grid-cols-5 text-xl font-medium space-y-1">
        <span class="col-span-4">Réponses justes</span> <span class="col-span-1 text-right">12</span>
        <span class="col-span-4">Réponses fausses</span> <span class="col-span-1 text-right">03</span>
        <span class="col-span-4">Total des questions</span> <span class="col-span-1 text-right">15</span>
        <span class="col-span-4">Energie Totale</span> <span class="col-span-1 text-right">1200 ki</span>
      </div>
    </div>
  </div>
</div>
