<app-header></app-header>

<ion-content fullscreen="true">
  <div class="absolute h-screen w-screen bg-black opacity-75"></div>
  <div class="flex h-screen justify-center items-center">
    <div class="z-20 space-y-3 p-3 w-screen">
      <div class="justify-center text-center">
        <img class="w-24 h-24 border-black rounded-full border-4 inline-block" src="assets/images/soins-kimuntu.webp">
      </div>

      <div class="bg-yellow-500 text-xl font-medium space-y-1 rounded-xl text-center pb-5">
        <h6 class="text-orange-500 text-2xl mt-2 font-bold bg-white text-center w-fit inline-block rounded-md px-3 py-1 shadow-md">STATISTIQUES</h6>
        <p class="py-1"></p>
        <div class="w-full bg-white text-black font-medium text-xl">
          SOLO
        </div>
        <div class="grid grid-cols-5 text-left px-5 py-1">
          <span class="col-span-4">Réponses justes</span> <span class="col-span-1 text-right">12</span>
          <span class="col-span-4">Réponses fausses</span> <span class="col-span-1 text-right">03</span>
          <span class="col-span-4">Total des questions</span> <span class="col-span-1 text-right">15</span>
          <span class="col-span-4">Energie Totale</span> <span class="col-span-1 text-right">1200 ki</span>
        </div>

        <div class="w-full bg-white text-black font-medium text-xl">
          SOLO CHRONO
        </div>
        <div class="grid grid-cols-5 text-left px-5 py-1">
          <span class="col-span-4">Réponses justes</span> <span class="col-span-1 text-right">12</span>
          <span class="col-span-4">Réponses fausses</span> <span class="col-span-1 text-right">03</span>
          <span class="col-span-4">Total des questions</span> <span class="col-span-1 text-right">15</span>
          <span class="col-span-4">Energie Totale</span> <span class="col-span-1 text-right">1200 ki</span>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<app-footer></app-footer>
