<div class="content-component h-screen w-screen z-0">
  <div class="absolute h-screen w-screen bg-black opacity-50 z-10"></div>
  <div class="flex h-screen items-center justify-center">
    <div class="z-20 space-y-3">
      <div class="mt-3 text-xl font-semibold text-white uppercase w-full">
        Niveau de jeu
      </div>

      <ion-button (click)="playService.currentPlay.level = 1" expand="block" fill="solid" color="primary" class="text-base font-semibold capitalize">
        Débutant
      </ion-button>

      <ion-button (click)="playService.currentPlay.level = 2" expand="block" fill="solid" color="primary" class="text-base font-semibold capitalize">
        Intermédiaire
      </ion-button>

      <ion-button (click)="playService.currentPlay.level = 3" expand="block" fill="solid" color="primary" class="text-base font-semibold capitalize">
        Expert
      </ion-button>

      <ion-button (click)="playService.currentPlay.level = 4" expand="block" fill="solid" color="primary" class="text-base font-semibold capitalize">
        Aléatoire
      </ion-button>
    </div>
  </div>
</div>
