<app-header></app-header>

<ion-content fullscreen="true">
  <div class="absolute h-screen w-screen bg-black opacity-50"></div>
  <div class="flex h-screen justify-center items-center">
    <div class="z-20 space-y-3 p-3 w-screen">

      <div class="bg-yellow-500 text-xl font-medium space-y-1 rounded-xl text-center pb-5">
        <h6 class="text-orange-500 text-2xl mt-2 font-bold bg-white text-center w-fit inline-block rounded-md px-3 py-1 shadow-md">COMPTE</h6>
        <p class="py-1"></p>

        <div class="space-y-3">
          <ion-button routerLink="../statistique" fill="solid" color="primary" class="text-base font-semibold capitalize">
            Modifier
          </ion-button> <br>
          <ion-button routerLink="../statistique" fill="solid" color="primary" class="text-base font-semibold capitalize">
            Supprimer
          </ion-button> <br>
          <ion-button routerLink="../statistique" fill="solid" color="primary" class="text-base font-semibold capitalize">
            Mise à niveau
          </ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<app-footer></app-footer>
