<app-header></app-header>

<ion-content fullscreen="true">
  <div class="absolute h-screen w-screen bg-black opacity-50"></div>
  <div class="flex h-screen justify-center items-center">
    <div class="z-20 space-y-3 p-3 w-screen">

      <div class="bg-yellow-500 text-xl font-medium space-y-1 rounded-xl text-center pb-5">
        <h6 class="text-orange-500 text-2xl mt-2 font-bold bg-white text-center w-fit inline-block rounded-md px-3 py-1 shadow-md">COMPTE</h6>
        <p class="py-1"></p>

        <div class="space-y-3">
          <ion-button id="open-modal-update-account" fill="solid" color="primary" class="text-base font-semibold capitalize">
            Modifier
          </ion-button> <br>
          <ion-button routerLink="../statistique" fill="solid" color="primary" class="text-base font-semibold capitalize">
            Supprimer
          </ion-button> <br>
          <ion-button fill="solid" color="primary" class="text-base font-semibold capitalize">
            Mise à niveau
          </ion-button>
        </div>
      </div>
    </div>
  </div>

  <ion-modal #modalUpdateAccount trigger="open-modal-update-account" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
    <ng-template>
      <div class="block bg-yellow-500">
        <div class="w-full bg-black text-white text-center font-medium text-xl mt-10">
          Modifier compte
        </div>
        <form class="p-3 space-y-3">
          <ion-input type="text" label="Outline input" label-placement="floating" fill="outline" placeholder="Pseudo" class="bg-white rounded-md"></ion-input>
          <ion-input type="tel" label="Outline input" label-placement="floating" fill="outline" placeholder="Téléphone" class="bg-white rounded-md"></ion-input>
        </form>

        <div class="p-3 justify-center text-center grid grid-cols-2">
          <ion-button (click)="modalUpdateAccount.dismiss()" fill="solid" color="danger" class="text-base inline-block font-semibold capitalize">
            Réinitialisé passe
          </ion-button>
          <ion-button (click)="modalUpdateAccount.dismiss()" fill="solid" color="primary" class="text-base inline-block font-semibold capitalize">
            Enregistrer
          </ion-button>
        </div>
      </div>
    </ng-template>
  </ion-modal>
</ion-content>

<app-footer></app-footer>
