<ion-content fullscreen="true" color="tertiary">
  <div class="text-center py-10">
    <img class="w-56 inline" src="assets/images/logo-texte.png">
  </div>

  <div class="p-3 justify-center space-y-2 text-center">

    <form #form="ngForm" (ngSubmit)="connexion(form)">
      <div class="grid gap-6 mb-6 grid-cols-2 text-left items-center">

        <label for="email" class="block text-sm font-medium text-white dark:text-white">Adresse e-mail</label>
        <input ngModel type="email" name="email" id="email" class="bg-yellow-900 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>

        <label for="password" class="block text-sm font-medium text-white dark:text-white">Mot de passe</label>
        <input ngModel type="password" name="password" id="password" class="bg-yellow-900 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
      </div>
      <ion-button [disabled]="form.invalid" type="submit" fill="solid" color="primary" class="text-base font-semibold capitalize inline-block">
        Se connecter
      </ion-button>
      <br>
      <ion-button routerLink="../ask-login-register" shape="round" fill="clear" color="primary" class="text-base font-semibold capitalize inline-block">
        Retourner
      </ion-button>
    </form>

  </div>
</ion-content>

<app-footer></app-footer>
