<ion-content (click)="etat = etat + 1">
  <app-select-level *ngIf="etat === 0"></app-select-level>
  <app-select-type-choice *ngIf="etat === 1"></app-select-type-choice>
  <app-select-module *ngIf="etat === 2"></app-select-module>
  <app-select-mode *ngIf="etat === 3"></app-select-mode>

  <div *ngIf="etat > 3" class="flex h-screen items-center justify-center bg-black">
    <div class="z-10 text-center space-y-5">
      <div class="text-center">
        <img class="w-56 inline z-10" src="assets/images/logo-texte.png">
      </div>
      <br>
      <span class="text-orange-500">Chargement du jeu...</span>
      <ion-progress-bar color="primary" class="h-5 rounded-md" [value]="progress"></ion-progress-bar>
      <ion-button (click)="etat = 0" routerLink="../home" shape="round" fill="clear" color="primary" class="text-base font-semibold capitalize">
        Annuler
      </ion-button>
    </div>
  </div>
</ion-content>

<app-footer></app-footer>
