<div class="content-component h-screen w-screen z-0">
  <div class="absolute h-screen w-screen bg-black opacity-75 z-10"></div>
  <div class="flex h-screen items-center">
    <div class="z-20 space-y-3 p-3 w-screen">
      <div class="bg-white rounded-2xl m-1 h-fit justify-center text-center">
        <div class="py-5 justify-center text-center">
          <div class="grid grid-cols-5 gap-0 my-3 justify-center items-center">
            <span class="col-span-2 bg-black text-white h-fit text-center text-sm py-1 rounded-r-full">Question N°</span>
            <div class="text-center">
              <img class="w-16 h-16 border-black rounded-full border-4 inline-block" src="assets/images/photo-maitre.png">
            </div>
            <span class="col-span-2 bg-black text-white h-fit text-center text-sm py-1 rounded-l-full">Difficulté : </span>
          </div>
          <img class="w-10 inline-block" src="assets/images/guillemet.png">
        </div>

        <div class="text-left w-4/5 inline-block pb-5">
          <span class="font-bold  text-2xl">
            Comment appelle-t-on les particules énergétiques non solides vibrant à des fréquences données?
          </span>
        </div>

        <!--ion-progress-bar class="h-2" color="primary" type="indeterminate"></ion-progress-bar-->

        <div class="w-full h-3 bg-gray-300 rounded-b-lg"></div>
      </div>

      <div class="m-1">
        <button *ngFor="let rep of ['NSONO et NKENGE', ' NKANDU et NKONSO', 'NZI et NZA', 'KUNKENKO et KANKENKO']; let i = index" type="button" class="items-center text-black bg-orange-500 hover:bg-gray-100 border border-gray-200 focus:bg-yellow-500 font-medium rounded-lg text-xl px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-600 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700 mr-2 mb-2 w-full">
          <span class="w-10 h-10 text-3xl mr-2 -ml-1 justify-center items-center rounded-full bg-black text-white">{{i+1}}</span>
          {{rep}}
        </button>
      </div>

      <div class="m-1 grid grid-cols-2 gap-3">
        <ion-button (click)="playService.currentPlay.etat = 2" expand="block" fill="solid" color="success" class="text-base font-semibold capitalize">
          Valider
        </ion-button>
        <ion-button href="home" expand="block" fill="solid" color="danger" class="text-base font-semibold capitalize">
          Quitter la partie
        </ion-button>
      </div>
    </div>
  </div>
</div>
