<ion-content fullscreen="true" color="tertiary">
  <div class="text-center py-10">
    <img class="w-56 inline" src="assets/images/logo-texte.png">
  </div>

  <div class="p-3 justify-center space-y-2 text-center mt-32">
    <ion-button routerLink="../login" fill="solid" color="primary" class="text-base font-semibold capitalize inline-block">
      Se connecter
    </ion-button>
    <br>
    <ion-button routerLink="../register" shape="round" fill="clear" color="primary" class="text-base font-semibold capitalize inline-block">
      S'incrire
    </ion-button>
  </div>
</ion-content>

<app-footer></app-footer>
