<ion-content fullscreen="true" class="bg-cover">
  <div class="absolute h-screen w-screen bg-black opacity-75 z-0"></div>
  <div class="flex h-screen items-center justify-center">
    <form #form="ngForm" (ngSubmit)="inscription(form)" class="text-center z-10 space-y-2">
      <label for="pseudo" class="block text-sm text-white dark:text-white">Pseudonyme</label>
      <input ngModel type="text" name="pseudo" id="pseudo" class="bg-yellow-900 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>

      <label for="email" class="block text-sm text-white dark:text-white">E-mail</label>
      <input ngModel type="email" name="email" id="email" class="bg-yellow-900 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>

      <label for="password" class="block text-sm text-white dark:text-white">Mot de passe</label>
      <input ngModel type="password" name="password" id="password" class="bg-yellow-900 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>

      <div>
        <form [formGroup]="uploadForm">
          <label for="password" class="block text-sm text-white dark:text-white">Photo de profil</label>
          <div class="relative h-36 flex justify-center items-center hover:cursor-pointer">
            <div class="absolute">
              <div *ngIf="!imgFile" class="flex flex-col items-center rounded-full bg-gray-400 w-28 h-28"></div>
              <div *ngIf="imgFile" class="flex flex-col items-center rounded-full bg-gray-400 w-28 h-28 bg-contain bg-center bg-no-repeat" [style]="'background-image: url(' + imgFile + ')'"></div>
            </div> <input *ngIf="!isLoading" type="file" formControlName="file" id="fileInput" (change)="onImageChange($event)" accept="image/*" class="h-full w-full opacity-0" name="file">
          </div>
        </form>
      </div>
      <br>
      <ion-button [disabled]="form.invalid" type="submit" fill="solid" color="primary" class="text-base font-semibold capitalize inline-block">
        Valider
      </ion-button>
      <br>
      <ion-button routerLink="../ask-login-register" shape="round" fill="clear" color="primary" class="text-base font-semibold capitalize inline-block">
        Retourner
      </ion-button>
    </form>
  </div>
</ion-content>

<app-footer></app-footer>
